@media (max-width:480px){.large-heading{font-size:10px;float:left;line-height:20px;}
.logo h4{text-align:center;}
.form-wrapper input{width:159px;height:50px;padding:10px 5px;float:left;font:inherit;border:0;background:#eee;-moz-border-radius:3px 0 0 3px;-webkit-border-radius:3px 0 0 3px;font-size:10px;}
.form-wrapper{width:299px;padding:15px;margin:30px auto 0px auto;}
.navbar-brand{float:left;height:50px;padding:25px 15px;font-size:18px;line-height:35px;margin-top:-13px;}
.main-slider .search-banner h1{color:#fff;font-size:18px;font-weight:bold;letter-spacing:1px;text-transform:uppercase;line-height:25px;margin-top:-203px;-moz-margin-top:-20px;}
@-moz-document url-prefix(){.main-slider .search-banner h1{margin-top:-23px;}
}
.callout{padding:0;}
.callout h2{color:#fff;text-transform:uppercase;text-align:center;font-size:20px;line-height:26px;margin-left:0;}
.callout p{font-size:10px;text-align:center;margin-left:0px;}
.paddingt12x{padding-top:50px;}
.testi-inner .col-xs-12{padding:0;}
.fun-item{margin-bottom:10px;}
.our-clients{margin-top:30px;text-align:center;}
.all-form-content{background-color:transparent;margin-top:30px;margin-bottom:30px;}
.phonenumber h3{color:white;text-transform:uppercase;font-size:18px;}
.contact-no{font-size:11px;}
.home-form{margin-top:30px;}
.send-btn{text-align:center;margin-bottom:15px;}
.our-clients .client-image img{margin-left:36px;}
#carousel hr{margin-left:40px;border:1px solid #E94350;}
#carousel p{font-size:14px;text-align:center;color:white;font-size:12px;}
#carousel .profile-circle img{text-align:center;margin-left:18px;}
.category-courses{margin-left:0px;}
}
@media (max-width:1440px){.navbar-inverse .navbar-nav>li>a{padding:10px 15px;font-size:13px;}
.navbar-inverse .navbar-brand{color:#9d9d9d;margin-top:15px !important;padding:0px;}
.navbar-brand{padding:0px;}
.navbar-inverse .navbar-nav>li>a#free_demo{padding-top:5px;margin-top:3px;margin-left:25px;font-size:13px;padding-bottom:5px;}
}
@media (max-width:1024px){.navbar-inverse .navbar-nav>li>a{padding:10px 12px;font-size:10px;}
.navbar-inverse .navbar-nav>li>a#free_demo{padding-top:5px;margin-top:3px;margin-left:20px;font-size:10px;padding-bottom:5px;}
}
.navbar-inverse .navbar-nav>li>a#free_demo:hover{border:2px solid #fff;background-color:transparent;}
@media (min-width:1170px){.navbar-inverse .navbar-nav>li>a#free_demo{padding-top:8px;margin-top:0px;margin-left:10px;font-size:12px;padding-bottom:8px;}
}
@media (min-width:320px) and (max-width:425px){.navbar-inverse .navbar-nav>li>a{padding:0px 10px;font-size:14px;text-align:left;letter-spacing:0px;}
.navbar-inverse .navbar-brand{color:#9d9d9d;margin-top:20px;padding:0px;}
.navbar-brand{padding:0px;}
.navbar-inverse .navbar-brand img{position:absolute;top:20px;left:10px;width:165px;height:auto;}
.navbar-nav > li,.settings > li{float:none;text-align:center;padding:14px 0;}
}
@media (min-width:426px) and (max-width:768px){.navbar-inverse .navbar-nav>li>a{padding:0px 10px;font-size:8px;text-align:left;letter-spacing:0px;}
.navbar-inverse .navbar-brand{color:#9d9d9d;margin-top:20px;padding:0px;}
.navbar-brand{padding:0px;}
.navbar-inverse .navbar-brand img{position:absolute;top:20px;left:10px;width:165px;height:auto;}
.navbar-inverse .navbar-nav>li>a#free_demo{margin-top:-3px;margin-left:5px;font-size:8px;padding:0px 6px;}
.navbar ul{padding:0;}
.navbar-nav > li,
.settings > li{float:none;text-align:center;padding:24px 0;}
}
@media (min-width:768px){.navbar-nav{float:left;padding-left:6%;}
}
@media (max-width:1024px){.category-type3 .enroll{margin-left:0px;}
.category-type2 .enroll{margin-left:-103px;}
.category-other2-courses .course_rel{width:100%;display:table;position:absolute;left:15px;bottom:27px;}
.category-other-courses .course_rel{width:100%;display:table;position:absolute;left:15px;bottom:27px;}
#loginbox #btn-login{width:100%;border-radius:0;padding:10px 65px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:-6px;}
.controls p{padding-top:15px;font-size:8px;}
.controls .btn-primary{padding:10px 13px;background-color:#3b5998;color:white;border:none;font-size:10px;margin-bottom:-20px;margin-left:-19px;}
.controls #btn-glogin .btn-danger{margin-top:30px;}
.category-type3 h3{font-size:14px;font-weight:bold;margin-top:10px;margin-bottom:20px;}
.category-type3 .enroll{text-align:left;padding-top:3px;padding-left:0px;}
.category-type3 .course_space{padding:10px;min-height:156px;position:relative;}
.category-type3 .course_rel{width:100%;display:table;position:relative;left:0;}
.category-type3 .course_rating{margin-left:0px;padding-left:0px;}
}
@media (min-width:320px) and (max-width:480px){.category-courses .course_rel .col-xs-12:nth-child(2){float:left;width:100%;text-align:left;padding-left:50px;}
}
.category-clients img{margin-left:0px;margin-bottom:40px;}
.lower-footer p{margin-left:39px;}
.breadcump nav{padding:0;}
.breadcump nav a:hover{color:#fff;}
}
@media (max-width:375px){.category-courses .course_space{padding:0 46px 66px 10px;;min-height:295px;position:relative;}
.category-courses .course_rating{margin-left:-24px;}
.category-courses .course_rel{margin-top:-37px;}
.category-clients img{margin-left:0px;height:80px;margin-bottom:20px;}
.lower-footer p{margin-left:30px;font-size:12px;}
.lower-footer span a{margin-left:19px;}
.lower-footer a{margin-right:100px;}
.breadcump nav{padding:0px 43px;font-size:10px;}
.navbar-nav > li > .dropdown-menu{padding:0 20px 31px 90px;}
.navbar-nav > li:hover > .dropdown-menu{padding:0 20px 31px 90px;color:#e94350;}
.category-heading{margin-top:-30px;}
.category-other-title h3{margin-bottom:-20px;}
}
@media (min-width:768px){.three-column.grid-group-item{width:100%;}
.category-courses{margin-left:0px;}
.category-form .col-sm-6{width:50%;}
.category-msg .form-control textarea{height:271px;}
}
.discription .new-review-design h4{padding-top:20px;padding-bottom:20px;}
@media (max-width:480px){.mrgt15x{margin-top:30px;}
.quickinfo{margin-top:30px;}
.quickinfo .side-bar{margin-bottom:20px;}
.side-bar ul li{padding-left:-20px;}
.footer-widgets .col-md-6{margin-bottom:20px;}
.title-text{color:#fff;position:relative;width:100%;font-size:12px;}
.about-bg{min-height:150px;}
.rating-text ul li{padding:5px;}
.review-content h3{text-align:center;padding:20px;}
.new-review-design{margin-left:100px;}
.progressbars{margin-left:-42px;}
.Indivisual-bg,.instructor-bg,.course-bg,.category-bg{min-height:150px;}
}
@media (max-width:768px){.nav-tabs>li{float:left;margin-bottom:-1px;padding:-41px;font-size:13px;}
}
@media (max-width:1024px){.nav-tabs>li{float:left;margin-bottom:-1px;padding:-41px;font-size:11px;}
.features-6{margin-bottom:10px;}
.new-review-design .col-md-4{background-color:#444444;padding:40px;width:200px;border-radius:2px;height:200px;}
.new-review-design h1{color:white;font-size:73px;margin-left:6px;margin-top:-17px;}
.new-review-stars{margin-left:22px;padding-top:10px;padding-bottom:10px;}
.draggable.nav > li > a{font-size:12px;}
}
@media (max-width:320px){.new-review-design{margin-left:28px;}
.contenttabs1 .nav-tabs{margin-top:30px;margin-left:-51px;}
.contenttabs1 .tab-content{margin-top:50px;margin-left:0px;}
}
@media (max-width:375px){}
.course_space{padding:10px;min-height:295px;position:relative;}
.course_rel2 .course_rating{margin-left:-13px;}
.course_rel2 .enroll{text-align:left;}
.category-list li a{color:#777777;font-family:"Montserrat Light",arial;display:block;font-size:12px;}
.course_rel2 .enroll{text-align:left;padding-left:4px;}
}
@media (max-width:375px){.course_rel2 .enroll{text-align:left;padding-left:4px;}
.pagination>li>a, .pagination>li>span{margin-left:-4px;}
}
@media (max-width:320px){.course_rel2 .enroll{text-align:left;padding-left:4px;}
.lower-footer p{margin-left:3px;font-size:12px;}
.features-6{line-height:32px;font-size:12px;}
}
@media (max-width:768px){.course_rel2 .enroll{text-align:left;margin-left:-6px;}
.course_space{padding:10px 10px 10px 15px}
}
@media (max-width:1024px){.course_rel2 .enroll{text-align:left;margin-left:-4px;}
}
@media (max-width:480px){.take-content p{line-height:24px;padding-top:20px;}
#carousel p{font-size:12px;text-align:center;color:#797979;font-size:12px;}
.instructor-para p{font-size:12px;margin-left:-2px;}
}
@media (max-width:320px){.instructor-para p{font-size:12px;margin-left:-2px;}
.Instructor-header p{line-height:25px;padding-top:15px;font-size:12px;}
.breadcump nav{padding:0px 0px;font-size:10px;}
.contact-form .send-btn{margin-top:40px;}
}
@media (max-width:480px){.blogin-content p{padding-top:15px;font-size:14px;}]}
@media (max-width:480px){.google_mapleft{margin-left:0px;}
.address{margin-top:-30px;}
.address2{margin-bottom:60px;margin-top:0px;margin-left:-25px;}
.address h6{font-weight:bold;}.address2 h6{font-weight:bold;}
}
@media (max-width:320px){.address2 address{float:left;margin-left:30px;margin-top:-20PX;font-size:11px;}
}
@media (max-width:480px){.quickinfo{padding:0;}
.aboutus-heading h2{font-size:22px;}
.about-para p{padding-top:12px;line-height:26px;font-size:14px;}
.features-courses{margin-top:20px;}
.lane2-features .service-box{padding:75px 25px;height:167px;}
.lane2-features .col-md-4{margin-top:0px;margin-bottom:0px;}
.service-box p{font-size:14px;}
.about-Experience p{font-size:14px;}
.about-Experience h1{margin-top:30px;color:#727475;font-size:34px;}
.title-text > span{letter-spacing:4px;font-size:12px;}
.breadcump{margin-bottom:50px;margin-top:60px;}
.about-Experience{margin-top:30px;}
}
@media (max-width:375px){.aboutus-heading h2{font-size:19px;}
.lane2-features .service-box{padding:26px 8px;height:167px;}
}
@media (max-width:320px){.aboutus-heading h2{font-size:16px;}
.aboutus-heading h1{font-size:28px;}
.about-Experience h1{margin-top:60px;color:#727475;font-size:27px;}
.about-Experience p{font-size:14px;}
.breadcump{margin-bottom:4px;margin-left:0px;margin-top:60px;}
}
@media (max-width:768px){.service-box h6{line-height:24px;font-weight:bold;}
.callout p, .testi-item p{font-size:14px;text-align:justify;}
.about-Experience p{font-size:14px;}
.light-color .mrgt12x{margin-top:3px;}
.footer-usa .col-md-6{margin-top:60px;}
.about-para p, .aboutus h1{padding-left:15px;padding-right:15px;}
}
@media (max-width:768px){.admin-java{margin-left:69px;margin-top:-73px;}
}
@media (max-width:375px){.breadcump nav{padding:0px 0px;font-size:10px;}
.admin-java h4{font-size:16px;}
}
@media (max-width:480px){.login-mobile{margin-left:0px;margin-top:25px;}
#loginbox{margin-left:25px;}
#loginbox #btn-login{width:100%;border-radius:0;padding:10px 101px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:0px;}
.controls .btn-primary{padding:10px 13px;background-color:#3b5998;color:white;border:none;font-size:10px;margin-bottom:-20px;margin-left:6px;}
}
@media (max-width:375px){.login-mobile{margin-left:0px;margin-top:25px;}
#loginbox{margin-left:0px;}
#loginbox #btn-login{width:100%;border-radius:0;padding:10px 101px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:3px;}
}
@media (max-width:320px){.login-mobile{margin-left:0px;margin-top:25px;}
#loginbox{margin-left:-13px;}
#loginbox #btn-login{width:100%;border-radius:0;padding:10px 101px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:0px;}
.main-slider .search-banner p{text-transform:uppercase;color:#fff;letter-spacing:1px;margin:6px 0 36px 5px;font-size:14px;}
}
@media (min-width:768px){#loginbox #btn-login{width:100%;border-radius:0;padding:10px 117px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:-6px;}
}
@media (min-width:1440px){.login-mobile{margin-left:0px;margin-top:25px;}
#loginbox{margin-left:25%;}
}
@media (min-width:1024px){#loginbox #btn-login{width:100%;border-radius:0;padding:10px 101px;background-color:#e94350;border-color:#e94350;margin-bottom:30px;margin-left:0px;}
}
@media (max-width:320px){.category-type3 .course_space{padding:15px 13px 20px 12px;min-height:68px;position:relative;}
.category-type3 .course_rel .col-xs-12{float:left;}
.category-type3 h3{font-size:14px;font-weight:bold;margin-top:10px;margin-bottom:3px;}
.category-type3 .course_rating{margin-left:0px;padding-left:0px;padding-top:20px;}
}
@media (max-width:480px){.category-type3 .course_space{padding:15px 13px 20px 12px;min-height:68px;position:relative;}
.category-type3 .course_rel .col-xs-12{width:100%;}
}
@media (max-width:768px){.category-type3 .enroll{margin-left:0px;}
.category-type3 .course_space{padding:10px;min-height:150px;position:relative;}
.category-type3 .course-border{margin-top:20px;}
.category-type3 .course_space p{font-size:10px;padding:0px 15px;}
.category-type3 .enroll{text-align:left;margin-bottom:-8px;}
}
@media (min-width:2560px){.navbar .navbar-brand{float:left;margin-top:20px;padding:10px 15px;font-size:18px;}